.title-bar{"data-hide-for" => "large", "data-responsive-toggle" => "responsive-menu"}
  .title-bar-left
    %img{src: "#{asset_path 'logo/rails-logo.png'}", style: "width: 150px;"}
  .title-bar-right  
    %button.menu-icon.hamburger-icon{"data-open" => "mobileMenu", :type => "button"}