// color ui
$clr-primary: #F1F8E8;
$clr-primary-dark: #95D2B3;
$clr-secondary: #D8EFD3;
$clr-secondary-dark: #55AD9B;

//topbar
$topbar-link: #F1F8E8;
$topbar-link-hover: #95D2B3;
$topbar-bg:  #55AD9B;
$topbar-stuck-top-bg:  #f2f2f2;
$topbar-scrolling-bg: #F1F8E8;

//title-bar
$title-bg: #55AD9B;
$title-bar-stuck-bg: #f2f2f2;
$title-bar-scrolling-bg: #f2f2f2;
$title-bar-menu-icon: #0F172A;